NewTest/SDK/*
NewTest/.DS_Store
.DS_Store
NewTest/.DS_Store
.DS_Store
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
NewTest.xcodeproj/project.xcworkspace/xcuserdata/emirbeytekin.xcuserdatad/UserInterfaceState.xcuserstate
NewTest.xcodeproj/xcuserdata/emirbeytekin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewTest/.DS_Store


xcuserdata/